<div class="table-header">
  <h2>Liste des gages</h2>
  <button mat-fab color="primary" aria-label="Ajouter joueur" (click)="onAddGage()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="gages()" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let player"> {{player.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
