<aside class="sidebar">
    <div class="logo">
        <button
            mat-button
            class="menu-item"
            [routerLink]="'/'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <mat-icon>dashboard</mat-icon>
        </button>
        <span>{{ menuConfig().name }}</span>
    </div>

    <nav>
        @for (item of menuConfig().menuItems; track item) {
            <button
                mat-button
                class="menu-item"
                [routerLink]="item.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
            </button>
        }
    </nav>
</aside>
